
@page "/BasicCore/ParameterPage/{ParameterId:int}"
@using FiyiRequirements.Areas.BasicCore.Repositories;
@inject ParameterRepository parameterRepository;

@if (ParameterId == 0)
{
    <PageTitle>Add parameter - FiyiRequirements</PageTitle>
}
else
{
    <PageTitle>Edit parameter - FiyiRequirements</PageTitle>
}

<FiyiRequirements.Components.Layout.NavBarVerticalDashboard lstMenuResult="lstMenuResult"></FiyiRequirements.Components.Layout.NavBarVerticalDashboard>

<div class="main-content position-relative max-height-vh-100 h-100">
    <FiyiRequirements.Components.Layout.NavBarHorizontalDashboard></FiyiRequirements.Components.Layout.NavBarHorizontalDashboard>
    <div class="container-fluid px-2 px-md-4">
        <div class="page-header min-height-300 border-radius-xl mt-4"
             style="background-image: url('assets/img/illustrations/Landscape2.jpg');">
            <span class="mask bg-gradient-primary opacity-6"></span>
        </div>
        <div class="card card-body mx-3 mx-md-4 mt-n6">
            <div class="card-header mb-0 pb-0 bg-white">
                <h1 class="mb-3">
                    @if(ParameterId == 0)
                    {
                        <span>Add parameter</span>
                    }
                    else
                    {
                        <span>Edit parameter</span>
                    }
                </h1>
                <NavLink class="btn btn-outline-info" href="BasicCore/ParameterPage">
                    <span class="fas fa-chevron-left"></span>
                    &nbsp;Go back
                </NavLink>
            </div>
            <div class="card-body px-0">
                <form method="post" @onsubmit="Submit"
                      @formname="parameter-form" class="mb-4">
                    <AntiforgeryToken />
                    <!--Name-->
                    <div class="mb-3">
                        <label for="name"
                               class="input-group input-group-static">
                            Name
                        </label>
                        <input type="text"
                               id="name"
                               class="form-control"
                               
                               @bind="Parameter!.Name" />
                    </div>
                    <!--Value-->
                    <div class="mb-3">
                        <label for="value"
                               class="input-group input-group-static">
                            Value
                        </label>
                        <textarea rows="10"
                            class="form-control"
                            @bind="Parameter!.Value"
                            
                            id="value">
                        </textarea>
                    </div>
                    <!--IsPrivate-->
                    <div class="form-check form-switch">
                        <input class="form-check-input"
                               type="checkbox"
                               name="strict-search"
                               @bind="Parameter!.IsPrivate"
                               id="isprivate" />
                        <label class="form-check-label"
                               for="isprivate">
                            IsPrivate
                        </label>
                    </div>
                    
                    <hr />
                    <button id="btn-submit" type="submit"
                            class="btn bg-gradient-primary">
                        <i class="fas fa-pen"></i>
                        @if (ParameterId == 0)
                        {
                            <span>Add</span>
                        }
                        else
                        {
                            <span>Edit</span>
                        }
                    </button>
                    <NavLink class="btn btn-outline-info" href="BasicCore/ParameterPage">
                        <span class="fas fa-chevron-left"></span>
                        &nbsp;Go back
                    </NavLink>
                </form>
                @if (MessageForForm != "")
                {
                    <span class="text-danger">
                        @((MarkupString)MessageForForm)
                    </span>
                }
            </div>
        </div>
    </div>

    <FiyiRequirements.Components.Layout.FooterDashboard></FiyiRequirements.Components.Layout.FooterDashboard>
</div>

@code {
    #region Properties
    public List<Menu> lstMenuResult { get; set; } = [];

    public List<Role> lstRole { get; set; } = [];

    [Parameter]
    public int ParameterId { get; set; }

    public string MessageForForm { get; set; } = "";

    [SupplyParameterFromForm]
    public Parameter? Parameter { get; set; }

    public User? User { get; set; }

    
    #endregion

    protected override void OnInitialized()
    {
        try
        {
            //Look for saved user in shared component, simulates a session
            User = StateContainer.User == null ? new() : StateContainer.User;

            lstMenuResult = [];
            Parameter = new();

            if (User != null)
            {
                if (User.UserId != 0)
                {
                    //Logged user
                    if (User.RoleId != 1) //Only Root can access
                    {
                        NavigationManager.NavigateTo("403");
                    }

                    List<Menu> lstMenu = menuRepository
                                        .GetAll();

                    lstMenuResult = rolemenuRepository
                                        .GetAllByRoleId(User.RoleId, lstMenu);

                    lstRole = roleRepository.GetAll();

                    if (ParameterId == 0)
                    {
                        //Create new Parameter
                        Parameter = new();
                    }
                    else
                    {
                        //Edit user
                        //Populate user data
                        Parameter = parameterRepository
                                    .GetByParameterId(ParameterId);
                    }
                }
                else
                {
                    //Not logged user

                    //Redirect to...
                    NavigationManager.NavigateTo("Login");
                }
            }
            else
            {
                //Impossible
            }

            base.OnInitialized();
        }
        catch (Exception ex)
        {
            Failure failure = new()
                {
                    Active = true,
                    DateTimeCreation = DateTime.Now,
                    DateTimeLastModification = DateTime.Now,
                    UserCreationId = 1,
                    UserLastModificationId = 1,
                    EmergencyLevel = 1,
                    Comment = "",
                    Message = ex.Message,
                    Source = ex.Source,
                    StackTrace = ex.StackTrace
                };

            failureRepository.Add(failure);

            MessageForForm = $@"There was a mistake. Try again.
                             Error message: {ex.Message}";
        }
    }

    private void Submit()
    {
        try
        {
            if (ParameterId == 0)
            {
                //Create new Parameter
                Parameter.ParameterId = 0;

                parameterRepository
                        .Add(Parameter);
            }
            else
            {
                //Update data
                parameterRepository
                            .Update(Parameter);
            }

            //Redirect to users page
            NavigationManager.NavigateTo("BasicCore/ParameterPage");
        }
        catch (Exception ex)
        {
            Failure failure = new()
                {
                    Active = true,
                    DateTimeCreation = DateTime.Now,
                    DateTimeLastModification = DateTime.Now,
                    UserCreationId = 1,
                    UserLastModificationId = 1,
                    EmergencyLevel = 1,
                    Comment = "",
                    Message = ex.Message,
                    Source = ex.Source,
                    StackTrace = ex.StackTrace
                };

            failureRepository.Add(failure);

            MessageForForm = $@"There was a mistake. Try again.
                             Error message: {ex.Message}";
        }
        finally
        {
            //Re-render the page to show ScannedText
            InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
        }
    }

    
}

