@using FiyiRequirements.Areas.CMSCore.Entities;
@using FiyiRequirements.Components.Shared;
@inject StateContainer StateContainer;

<footer class="footer py-4  ">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
            &nbsp;
        </div>
    </div>
</footer>

@code{
}