@using FiyiRequirements.Areas.CMSCore.Entities;
@using FiyiRequirements.Components.Shared;
@inject StateContainer StateContainer;

<nav class="navbar fixed-bottom navbar-light bg-light d-flex d-sm-flex d-md-none">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Fixed bottom</a>
    </div>
</nav>

@code{
}