<!-- Navbar -->
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-expand-lg blur border-radius-lg top-0 z-index-3 shadow position-absolute mt-4 py-2 start-0 end-0 mx-4 my-3 py-2 start-0 end-0 mx-4">
          <div class="container-fluid px-0">
            @* <img src="img/FiyiRequirements/FiyiRequirements.png" 
            alt="logo-cordoba-lifestyle" 
            height="100" /> *@
            <NavLink class="navbar-brand font-weight-bolder ms-sm-3 d-none d-md-block" 
            href="" 
            rel="tooltip" 
            title="Córdoba LifeStyle" 
            data-placement="bottom">
              FiyiRequirements
            </NavLink>
            <NavLink class="navbar-brand font-weight-bolder ms-sm-3 d-block d-md-none" 
            href="" 
            rel="tooltip" 
            title="Designed and Coded by Creative Tim" 
            data-placement="bottom">
                FiyiRequirements
            </NavLink>
            <NavLink href="Login/Dashboard" 
                class="btn btn-sm bg-gradient-dark mb-0 ms-auto d-lg-none d-block">
                Acceder           
            </NavLink>
            <button class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navigation-control"
            aria-controls="navigation-control"
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </span>
            </button>
            <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" 
            id="navigation-control">
              <ul class="navbar-nav navbar-nav-hover ms-auto">
              </ul>
              <!--ACCEDER-->
              <ul class="navbar-nav d-lg-block d-none">
                <li class="nav-item">
                    <NavLink href="Login/Dashboard"
                    class="btn btn-sm bg-gradient-dark mb-0">
                      Acceder
                  </NavLink>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>